.login_box {
    margin-top: 30px;
    height: auto;
    border: solid 1px #ddd;
    border-top: 3px solid orange;
    padding: 20px 50px;
}

.register_box {
    border-top: 3px solid red;
}

.login_box_head {
    padding: 10px;
    border-bottom: solid 1px orange;
    font-weight: 600;
    font-size: 16px
}

.register_box_head {
    padding: 10px;
    border-bottom: solid 1px #ddd;
    font-weight: 600;
    font-size: 16px
}

.register_box_head:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.border-bottom_red {
    border-bottom: solid 1px red;
}

.login_box input {
    padding: 20px;
    padding-left: 50px;
}

.form-group {
    margin-bottom: 25px;
}

.login_box_username {
    height: 40px;
    width: 40px;
    left: 16px;
    top: 1px;
    background: #DDD url("http://127.0.0.1/peiqigongsi/peiqi/web/static/admin/index/img/username.png") no-repeat center center;
}

.login_box_password {
    height: 40px;
    width: 40px;
    left: 16px;
    top: 1px;
    background: #ddd url("http://127.0.0.1/peiqigongsi/peiqi/web/static/admin/index/img/password.png") no-repeat center center;
}

.login_box_oneCode {
    height: 40px;
    width: 40px;
    left: 16px;
    top: 1px;
    background: #ddd url("http://127.0.0.1/peiqigongsi/peiqi/web/static/admin/index/img/dongtaima.png") no-repeat center center;
}

.qrCode {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.scale_0 {
    transform: scale(0);
    -webkit-transform: scale(0);
}