#info_vue{background-color: #f5f5f5;}
#info_main{margin-bottom: 30px;margin-top: 12%;background-color: #fff;border-radius: 3px;position: relative;width: 92%;left: 4%;height: auto;}
#info_main p{font-size: 84%;position:relative;width: 92%;left: 4%;margin: 0;border-top: 1px solid #ddd;height: 45px;line-height: 45px;}
#info_main p:nth-of-type(1){border:none}
#info_main input{height: 100%}
#info_main b{color: #0088e4;font-weight: 100;position: absolute;width: 50%;text-align: center;margin-top: -10%;left: 25%;}