#alarm_vue .main {padding: 3% 3%;height: 85%;overflow: auto;}
#alarm_vue .receive table{color: white;height: 80px;}
#alarm_vue .send table{color: white;}
#alarm_vue .head{border-radius: 50%;}
#alarm_vue .receive .head{float: left;}
#alarm_vue .send .head{float: right;}
#alarm_vue .receive .table{border-top-right-radius:0.7em;border-bottom-right-radius:0.7em;border-bottom-left-radius:0.7em;margin-top: 20px;margin-left: 8px;background-color: #CDD7E2;float: left;}
#alarm_vue .send .table{border-top-left-radius:0.7em;border-bottom-right-radius:0.7em;border-bottom-left-radius:0.7em;margin-top: 20px;margin-right: 8px;background-color: #78CDF8;float: right;}
#alarm_vue .receive .name{position: absolute;margin-left: 9px;font-size: 10px;}
#alarm_vue .send .name{right: 0;position: absolute;margin-right: 5px;font-size: 10px;top: -18px;}
#alarm_vue .receive td.w60{padding-left: 20px;}
#alarm_vue .receive .time{color: #ffffff;position: absolute;margin-top: 0;margin-left: 80%;top: 60px;}
#alarm_vue .send .time{color: #ffffff;position: absolute;margin-top: 0;margin-left: 80%;top: 66%;}
#alarm_vue .receive .name{position: absolute;margin-left: 1px;font-size: 10px;top: -18px;}
#alarm_vue .head{width:15%;display: block}
#alarm_vue .span_time{background-color: #bbb;font-size: 10px;padding: 3px 9px;border-radius: 5px;color: #fff;}
#alarm_vue #alarm_message{height: 45px;background-color: #fff;padding: 5px;border-top: #ddd solid 1px;}
#alarm_vue #alarm_message input{width: 80%;height: 100%;background-color: #fff;margin-right: 3%;}
#alarm_vue #alarm_message button{width: 16%;}
#alarm_vue td.a{padding: 10px 20px;}
#alarm_vue span.time.a{margin-top: -4px;}
#alarm_vue table.talk td {color:#000}

#alarm_vue .send td{word-break: break-all;
padding: 13px 14px;}