<html manifest="./phone.manifest">
<head>
    <title>lalala</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css?__inline">
    <link rel="stylesheet" type="text/css" href="../../css/css.css?__inline">
</head><body ontouchstart="">
<script src="./template/launcher.html?__inline"></script>
<script src="./template/alarm.html?__inline"></script>
<script src="./template/bind.html?__inline"></script>
<script src="./template/choose.html?__inline"></script>
<script src="./template/family.html?__inline"></script>
<script src="./template/fence.html?__inline"></script>
<script src="./template/index.html?__inline"></script>
<script src="./template/info.html?__inline"></script>
<script src="./template/login.html?__inline"></script>
<script src="./template/register.html?__inline"></script>
<script src="./template/sports.html?__inline"></script>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=CtM9CGo4kL1epE2FGH4DXa10vNFhM38W"></script>
<script type="text/javascript" src="../../js/jquery.js?__inline"></script>
<script type="text/javascript" src="../../js/vue.js?__inline"></script>

<script type="text/javascript" src="../../js/App.js?__inline"></script>
<script type="text/javascript" src="../../js/H5App.js?__inline"></script>
<script type="text/javascript" src="../../js/define.js?__inline"></script>
<script type="text/javascript" src="./js/define.js?__inline"></script>
<script type="text/javascript" src="../../js/util.js?__inline"></script>
<script type="text/javascript" src="../../js/cookie.js?__inline"></script>

<script type="text/javascript" src="./js/browser/AndroidBrowser.js?__inline"></script>
<script type="text/javascript" src="./js/browser/IosBrowser.js?__inline"></script>
<script type="text/javascript" src="./js/browser/WechatBrowser.js?__inline"></script>
<script type="text/javascript" src="./js/start.js?__inline"></script>

<link rel="stylesheet" type="text/css" href="./css/app.css?__inline">
<link rel="stylesheet" type="text/css" href="./css/pickmeup.css?__inline">
<script type="text/javascript" src="../../js/md5.js?__inline"></script>
<script type="text/javascript" src="../../js/map.js?__inline"></script>
<script type="text/javascript" src="../../js/highcharts.js?__inline"></script>
<script type="text/javascript" src="./js/pickmeup.js?__inline"></script>
</body></html>