<!DOCTYPE html>
<html>
<head>
    <title>腾家科技有限公司</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css0/css.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>

<link rel="stylesheet" href="css/nav.css">
<div class="nav pos_r" id="nav">
    <div class="nav_main pos_r">
        <img class="h80 fl logo" :src="'./img/'+img.logo" />
        <div class="pos_r fr language_box">
            <div class="vam">
                <i @click="changeLanguage('zh')" class="fl" style="width: 50%">
                    <img class="w50 " :src="img.china" />
                </i>
                <span class="fl pos_r" style="top:6px;border-left:1px solid #000;line-height: 15px;width: 1px;">&nbsp;</span>
                <i @click="changeLanguage('en')" class="fr pos_r" style="width: 49%;">
                    <img class="w50 " :src="img.america" />
                </i>
            </div>
        </div>
        <ul class="fr titles">
            <li v-for="(title, item) in titles" class="lll">
                <template v-if="item.href">
                    <a :href="item.href"><span>{{title}}</span></a>
                </template>
                <template v-else><span>{{title}}</span>
                    <ul class="opt pos_a">
                        <li v-for="(title1, href) in item.content"><a :href="'#'+href">{{title1}}</a></li>
                    </ul>
                </template>
            </li>
        </ul>
        <img class="pull" src="img/pull.svg" />
    </div>
</div>
<div class="pos_r w100" style="height: 9px;background: #4F9DD3;">
    <script src="js0/App.js"></script>
    <script src="js0/PcApp.js"></script>
    <script src="js0/define.js"></script>
    <script src="js/translate.js"></script>
    <script>
        var app = new PcApp({
            'isDebug' : true,
            'defaultHash' : 'home',
            'projectName' : 'webapp',
            'transitionTag' : 'section',
            'transitionName' : 'opacity',
            'transitionTime' : '0.5',
            'transitionType' : 'ease'
        });
        console.log('aa');
        app.zindex = 99;
        app.API_URL = ((location.href.split(app.projectName)[0] == location.href)?'':location.href.split(app.projectName)[0]) + app.projectName+'/index.php';
        console.log(app.API_URL);
    </script>
    <script src="js/nav.js"></script>

<!--<link rel="stylesheet" href="./css/t-small_nav.css">-->
<!--<div  id="small_nav" v-show="small_navShow">-->
    <!--<my-small_nav></my-small_nav>-->
<!--</div>-->
<!--<script src="./template/t-small_nav.js?a=4"></script>-->

<link rel="stylesheet" href="css/home_vue.css">
<section id="home_vue" style="top: 0">
    <div class="pos_r">
        <div id="carousel" class="carousel pos_r">
            <img class="w100" src="img/lunbo1.jpg" />
            <ul class="pos_a imgs t0 w100" title="1">
                <li v-for="img in imgs" :class="($index)?'disn':''" :title="($index+1)"><img class="w100 h100" :src="'./img/'+img.name" /></li>
            </ul>
            <div class="pos_a points txtc">
                <img v-for="img in imgs" :style="$index ? '':'background-color:#000'" @click="pointsClick($index+1)" src="img/s.png" class="h30" />
            </div>
            <div class="left h100 l0 t0 pos_a left-right" @click="leftClick()">
                <img class="pos_a rotate180" src="img/right.svg"/>
            </div>
            <div class="right h100 r0 t0 pos_a left-right" @click="rightClick()">
                <img class="pos_a" src="img/right.svg"/>
            </div>
        </div>

        <div style="height: 150px;line-height: 150px;width: 70%;text-align: center;margin: 0 auto;" id="product_title">
            <span class="line pos_r" style="width: 20px;border-top: solid 1px #dddd00;padding: 0 2rem;top: 5px">&nbsp;</span>
            <span style="font-size: 3rem;padding: 0 1rem">{{mainPush}}</span>
            <span class="line pos_r" style="width: 20px;border-top: solid 1px #dddd00;padding: 0 2rem;top: 5px">&nbsp;</span>
        </div>

        <div id="product" class="product-show pos_r" style=" border-top: solid 1px #ddd;margin: 0 auto;margin-top: 11px;padding-top: 50px;width: 70%;height: auto;">
            <div class="left h100 l0 t0 pos_a" style="width: 12%;" @click="sliderMove(false)">
                <img class="pos_a rotate180" src="img/right.svg" style="height: 20%;top: 40%;z-index: 99999999;left: -60%;"/>
            </div>
            <div class="right h100 r0 t0 pos_a" style="width: 12%;" @click="sliderMove(true)">
                <img class="pos_a" src="img/right.svg" style="height: 20%;top: 40%;z-index: 99999999;right: -60%;" />
            </div>

            <div class="h100" style="overflow: hidden;">
                <div id="product-slider" style="width: 155%;left: -26%;position: relative;">
                    <div class="fl pos_r" v-for="img in productImgs" onclick="location.hash = {{'\''+img.hash+'\''}}">
                        <img :src="'./img/'+img.name" />
                        <img class="disn" :src="'./img/'+img.name" />
                        <h2>{{img.text}}</h2>
                    </div>
                    <div class="cb"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="aboutUs_vue">
    <div class="aboutus pos_r">
        <h1>{{title}}</h1>
        <!--<img v-for="img in imgArr" src="img/{{img.name}}" />-->
        <p>&nbsp;&nbsp;&nbsp;&nbsp;深圳腾家科技有限公司成立于2016年9月，是腾讯公司指定的官方合作伙伴，公司专注于儿童安全、健康、学习、陪伴，探索，娱乐等儿童智能类电子产品的研发、生产、
            销售及服务。与腾讯公司强强联手，共同打造儿童智能产品生态圈，满足儿童在不同年龄阶段的需求。</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;在未来，腾家将不断创新，充分利用品牌和后台数据优势，整合资源，通过产品，营销和服务，与渠道代理商共同打造线上线下一体的O2O销售体系，
            并充分合理利用腾讯公司移动互联网技术应用，及客户优势，对各级商家提供更全面、高效优质的服务，并不断丰富儿童智能产品品类，满足日益变化的市场需求与客户体验。
            公司在未来长期的发展过程中将以过硬的产品质量、优良的产品服务、领先的技术优势和国内教育等系统建立长期良好的合作关系。</p>

         <h4>腾家科技愿景</h4>
         <p>成为儿童智能产品新标杆。</p>
         
         <h4>腾家科技使命</h4>
         <p>让每一个儿童健康、安全、快乐成长。</p>
         
         <h4>腾家科技核心价值观</h4>
         <p>诚信  坚韧  协作  共赢。</p>
    </div>
</section>

<section id="news_vue">
    <div class="item" v-for="item in news">
        <div class="background pos_r">
            <img class="w100" :src="'./img/'+item.imgName" />
            <div class="w100 h100 pos_a t0 l0">
                <div class="pos_r h100 w100">
                    <img class="c" data-src="./img/search.svg" />
                </div>
            </div>
        </div>
        <p>{{item.content}}</p>
    </div>
</section>

<section id="contact_vue" class="contact">
    <div id="map" class="txtc pos_r"></div>
    <div class="main" style="margin: 0 auto;max-width: 1200px;padding: 30px 0px">
        <h2 style="font-weight: 600">联系我们</h2>
        <p>公司地址：深圳市宝安区宝源路1065号F518时尚创意园F17栋101、102</p>
        <p>联系电话：0755-26804567   26804008</p>
        <p>传    真：0755-26804588</p>
        <p>客服电话：400-8835-933（工作日9:00-18:30）</p>
        <p>经销合作：梁总  18682328171</p>
    </div>
</section>

<section id="watch2_vue">
    <style>
        #watch2_vue button{
            margin-top:20px;width: 123px;height: 44px;border-radius: 82px;font-size: 20px;
        }
    </style>
    <div class="main pos_r" style="max-width: 768px;margin: 0 auto;">
        <!--<h1>{{title}}</h1>-->
        <div class="pos_a" style="width: 200px;left: -200px;">
            <div class="w100 txtc">
                <h2 style="font-weight: 600">儿童手表系列</h2>
                <button class="btn btn-primary" onclick="$('#watch2_vue').find('img').hide().eq(0).show()">二代</button>
                <button class="btn btn-primary" onclick="$('#watch2_vue').find('img').hide().eq(1).show()">三代</button>
                <button class="btn btn-primary" onclick="$('#watch2_vue').find('img').hide().eq(2).show()">三s</button>
            </div>

        </div>
        <img class="w100" data-src="./img/watch2.jpg" />
        <img class="w100 disn" data-src="./img/watch3.jpg" />
        <img class="w100 disn" data-src="./img/watch3s.jpg" />
    </div>
</section>

<section id="tabletPc_vue">
    <div class="main pos_r" style="max-width: 768px;margin: 0 auto;">
        <!--<h1>{{title}}</h1>-->
        <img class="w100" data-src="./img/tabletPc.jpg" />
    </div>
</section>

<section id="mirror_vue">
    <div class="main pos_r" style="max-width: 768px;margin: 0 auto;">
        <!--<h1>{{title}}</h1>-->
        <img class="w100" data-src="./img/mirror.jpg" />
    </div>
</section>

<section id="guard_vue">
    <div class="main pos_r" style="max-width: 768px;margin: 0 auto;">
        <!--<h1>{{title}}</h1>-->
        <img class="w100" data-src="./img/guard.jpg" />
    </div>
</section>

<section id="appdownload_vue">
    <div class="pos_r">
        <div class="download leftProduct">
            <ul>
                <li v-for="li in lis">{{li.name}}</li>
            </ul>
        </div>
        <div class="main fr">
            <img class="w100" data-src="./img/app.jpg" />
        </div>
    </div>
</section>

<section id="update_vue">
    <div class="download leftProduct">
        <ul>
            <li>第二代智能手表</li>
        </ul>
    </div>

    <div id="main" class="txtc fl">
        <h1>固件升级</h1>
        <button type="button" class="button btn btn-lg download">立即下载</button>
        <h6>系统支持：XP／Win7   升级工具：腾讯儿童手表升级工具1.0   更新日期：2015年12月25日</h6>

        <div class="tip">
            <p><b>腾讯儿童手表2代</b>固件更新日志（最新版本V27 更新日期：2015年12月25日）</p>
            <p>1、新增激活向导功能</p>
        </div>

        <h3>升级教程</h3>
        <p>1、打开固件升级工具。</p>
        <p>2、点击快速安装（自定义安装能够更改软件安装路径）</p>
        <img data-src="./img/update.jpg" />
        <p>3、安装结束后，打开软件。</p>
        <img data-src="./img/update.jpg" />
        <p>3、安装结束后，打开软件。</p>
        <img data-src="./img/update.jpg" />
        <p>3、安装结束后，打开软件。</p>
        <img data-src="./img/update.jpg" />
        <p>3、安装结束后，打开软件。</p>
        <img data-src="./img/update.jpg" />
        <p style="color: red">温馨提醒：固件升级过程，切勿断开USB连接线。升级失败，参考使用说明解决。</p>
    </div>
</section>

<div id="link" class="pc pos_r" style="opacity: 0">
    <my-link></my-link>
</div>

<div id="footer" class="pos_r" style="opacity: 0">
    <my-footer></my-footer>
</div>

</body>
</html>

<script>
    const RENDER_NAV = 'RENDER_NAV';
    const BEGIN_DOWNLOAD_RESOURCE = 'BEGIN_DOWNLOAD_RESOURCE';
    const RESIZE_TOP = 'RESIZE_TOP';
    app.subscribe(RENDER_NAV,function(){
        nav = new Vue({
            el: '#nav',
            compiled: function () {
                this.initBind();
                this.initView();
            },
            data:nav,
            methods: {
                initBind: function () {
                    $(this.$el).find(".nav_main .titles li").hover(function () {
                        $(this).find('ul').css('z-index', '987654321').show();
                    }, function () {
                        $(this).find('ul').hide();
                    });

                    var self = this;
                    $(this.$el).find("a").click(function(){
                        var model = $(this).attr('href').split('#')[1];
                        self.chooseNav(model);
                        localStorage.setItem('model',model);
                    });
                },
                initView:function(){
                    var hash = Cookie.getCookie('hash')||'home';
                    this.chooseNav(hash);
                },
                chooseNav:function(hash){
                    $('#nav .lll').find('span').removeClass('choose');
                    $(this.$el).find('a[href="#'+hash+'"]').parents('.lll').find('span').addClass('choose');
                }
            }
        });
    });
    app.subscribe(BEGIN_DOWNLOAD_RESOURCE,function(){
        $('img').each(function(){
            var src = $(this).attr('data-src');
            if(src){
                $(this).attr('src',src);
            }
        });
        app.loadCss([
            './css/aboutUs_vue.css',
            './css/news_vue.css',
            './css/watch2_vue.css',
            'http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css',
            './css/contact_vue.css',
            './css/tabletPc_vue.css',
            './css/mirror_vue.css',
            './css/guard_vue.css',
            './css/appdownload_vue.css',
            './css/t-leftProduct.css',
            './css/update_vue.css',
            './css/t-footer.css',
            './css/t-link.css'
        ]);
        app.loadJs([
            './template/t-link.js',
            './template/t-footer.js'
        ]);
    });


    var timer = setInterval(function(){
        var img = $('#product-slider').find('img').eq(0);
        if(nav && $('#carousel').height() >300 && img.height() > 50){
            clearInterval(timer);

            app.publish(RENDER_NAV);
            app.unSubscribe(RENDER_NAV);

            app.publish(APP_EVENT_ANIMATION_END);

            setTimeout(function(){
                app.publish(BEGIN_DOWNLOAD_RESOURCE);
                app.unSubscribe(BEGIN_DOWNLOAD_RESOURCE);
            },1000);
        }
    },100);

    app.subscribe(APP_EVENT_HASH_CHANGE,function(){
        try{
            nav.chooseNav(location.hash.split('#')[1]);
        }catch (e){}
    });
    app.subscribe(RESIZE_TOP,function(){
        var modal = app.stacks[app.stacks.length-1];
        var height = app.getJqModal(modal).height()+55;
        console.log(modal);
        if(modal == 'home_vue'){
            var obj = $('.product-show');
            obj.height(obj.width()*0.3);
        }
        $('#link').css({
            'opacity':1,
            'top':height+'px'
        });
        $('#footer').css({
            'opacity':1,
            'top':height+'px'
        });
    });
    $(window).resize(function() {
        app.publish(RESIZE_TOP);
    });
    app.subscribe(APP_EVENT_ANIMATION_END,function(){
        scrollTo(0,0);
        app.publish(RESIZE_TOP);
    });
    app.lang_zh=0;
    app.lang_en=1;
    app.langType=app.lang_zh;
    app.translate=translate;
    translate = null;
    setTimeout(function(){
        app.run();
    },100);
</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=CtM9CGo4kL1epE2FGH4DXa10vNFhM38W"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>