.leftProduct{width: 30%;height: auto;float: left;padding-top: 10px;}
.leftProduct li{border-bottom: dashed 1px #ddd;padding: 8px 5px;font-size: 16px;}
.leftProduct li:hover{cursor: pointer;text-decoration: underline;}