* {
    margin: 0;
    padding: 0;
}

.fr {
    float: right
}

.pos_r {
    position: relative;
}

.pos_a {
    position: absolute;
}

.pos_f {
    position: fixed;
}

li {
    list-style: none;
}

.txt_c {
    text-align: center
}

.w90 {
    width: 90%
}

.w100 {
    width: 100%
}

.height_0 {
    height: 0
}

body {
    padding-top: 50px;
}

.cover {
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: #000;
    z-index: 5;
}

#head {
    background: url("/peiqigongsi/peiqi/web/static/common/layout/admin/img/head_shadow.png") no-repeat center center;
    height: 150px;
    position: relative;
}

#logo {
    width: 130px;
    height: 110px;
    background: url("/peiqigongsi/peiqi/web/static/common/layout/admin/img/logo.png") no-repeat -160px center;
}

.login {
    text-align: center;
    border-radius: 50%;
}

.login img {
    border-radius: 50%;
    margin-top: 30px;
    background-color: aquamarine;
}

.login img:hover {
    border-radius: 50%;
    background-color: #eb4f38;
    cursor: pointer;
}

.operation {
    margin-top: 50px;
}

#operation {
    overflow: hidden;
    right: 0;
    width: 300px;
    top: 146px;
    z-index: -100;
}

#operation ul {
    width: 94%;
    margin-left: 3%;
    height: auto;
    box-shadow: 0 0px 8px #dfdfdf;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    z-index: 7;
    background-color: #fff;
}

#operation li {
    width: 100%;
    padding: 10px 30px 10px 30px;
}

#operation li:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}

#operation a {
    color: black;
    text-decoration: none;
}

.move_right {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
}

.foot {
    margin-top: 50px;
    width: 100%;
    height: 166px;
    background: url("/peiqigongsi/peiqi/web/static/common/layout/admin/img/foot_bg.png") repeat-x 100% 100%;
}

.foot p {
    color: #555;
    font-size: 10px;
    line-height: 0.5;
}

.foot .row {
    margin: 0;
}