body,html{position: absolute;overflow: hidden}

.bg{width: 100%;height: auto}

.login{margin-top: 3%;}
.login,.loginInput{padding: 0 8%;}

.goToLogin{position: absolute;
    width: 100%;
    bottom: 15%;}
.goToLogin p{font-size: 90%;}
.goToLogin p:nth-of-type(1){position: absolute;left: 5%;}

.version{width: 100%;text-align: center;bottom: 5%;}
.version span {font-size: 93%;color: #aaa;}

.note p{margin: 0 0 5% 6%}
#registerStep2{margin-top: 6%}
#registerStep2 .login >div{width: 45%;}