#right .friends{background-color: #f6f6f6}
#right .friends .tx img{border-radius:50%}
#right .friends .tx p{color: #000;
    width: 100%;
    text-align: center;
    top: 100%;}
#right .friends .touxiang1{    width: 19.5%;
    height: 12.9%;
    bottom: 58.4%;
    left: 2.5%;}
#right .friends .touxiang2{width: 10.8%;
    height: 7%;
    bottom: 75.1%;
    left: 20.8%;}
#right .friends .touxiang3{width: 15.7%;
    height: 10.5%;
    bottom: 78.5%;
    left: 37.5%;}
#right .friends .touxiang4{    width: 21.1%;
    height: 14%;
    bottom: 69.5%;
    left: 76.2%;}
#right .friends .touxiang5{    width: 18.5%;
    height: 12%;
    bottom: 63.6%;
    left: 48%;}
#right .friends .touxiang6{    width: 15.2%;
    bottom: 55.5%;
    height: 10%;
    left: 28%;}
#right .friends .touxiang7{    width: 16%;
    height: 10.5%;
    bottom: 43.8%;
    left: 13.7%;}
#right .friends .touxiang8{    width: 13.5%;
    height: 9%;
    bottom: 37.4%;
    left: 36.8%;}
#right .friends .touxiang9{width: 15%;
    height: 10%;
    bottom: 45.4%;
    left: 54.5%;}
#right .friends .touxiang10{     width: 14%;
    bottom: 53.9%;
    height: 9.5%;
    left: 71.2%;}