
#right .members .glyphicon-repeat{float: right;font-size: 200%;margin-right: 8%}
#right .contain img{width: 100%}
#right .other_member{padding: 3% 0;background-color: #f6f6f6;}
#right .item{padding: 2% 0;height: 60px}
#right .members .space100{    height: 1px;  width: 100%;  background-color: #ddd;}
#right .members .space75{    width: 77%; height: 1px; background-color: #ddd; float: right;}
