
#right .func .contain{background-color: #f5f5f5}
#right .func .p1{padding: 5% 8% 0}
#right .func .p2{padding: 2% 1%;width: 100%}
#right .func .p3{padding: 10px 5% 0;width: 100%}
#right .func .item{padding: 1.5% 0;height: 55px;background-color: #ffffff}
#right .func .icon{background-color: #ddd;height: 90%;border-radius: 5px}
#right .func #checkBox{transform: scale(1.4) translateX(12px);-webkit-transform: scale(1.4) translateX(12px)}