<style>
    #register_vue{height: 400px;}
    #register_input_account{top: 0;width: 88%;position: absolute;left:6%;height: 32%;padding: 0;font-size: 90%;outline:none;border: 0;box-shadow:none;background-color: transparent;}
    #register_input_password{top: 34%;width: 88%;position: absolute;left:6%;height: 32%;padding: 0;font-size: 90%;outline:none;border: 0;box-shadow:none;background-color: transparent;}
    #register_input_password2{top: 68%;width: 88%;position: absolute;left:6%;height: 32%;padding: 0;font-size: 90%;outline:none;border: 0;box-shadow:none;background-color: transparent;}
    #register_btn_register{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: 93% auto auto auto;width: 85%;height: 10%;background-color: #0098FB;}
    #register_box_border{position: absolute;width: 88%;height: 35%;border: solid 1px #f1f1f1;border-radius: 9px;top: 0;left: 0;right: 0;bottom: 0;margin: 42% auto auto auto;}
    #register_box_border i{position: absolute;width: 94%;left: 3%;height: 1px;display: inline-block;background-color: #ddd;}
    #register_box_border i:nth-of-type(1) {top: 33%;}
    #register_box_border i:nth-of-type(2) {top: 66%;}
    #register_phone{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: 10% auto auto auto;width: 80%;height: 20%;background:url("./img/phone.svg") no-repeat;background-size: 100% 100%;}
    #register_vue .tip_span{position: absolute;font-size: 90%;top: 110%;color:#0098FB}
    #register_span_forget{left: 0;}
</style>
<section id="register_vue">
    <div id="register_phone"></div>
    <div id="register_box_border">
        <input class="showKeyboard" id="register_input_account" type="text" v-model="input.account.text" placeholder="{{input.account.hint}}">
        <i></i>
        <input class="showKeyboard" id="register_input_password" type="password" v-model="input.password.text" placeholder="{{input.password.hint}}">
        <i></i>
        <input class="showKeyboard" id="register_input_password2" type="password" v-model="input.password2.text" placeholder="{{input.password2.hint}}">
        <span id="register_span_forget" class="tip_span" onclick="history.go(-1)">返回登录</span>
    </div>
    <button id="register_btn_register" class="btn btn-sm clwh" @click="register()">注册</button>
</section>
<script>
    var register_vue = function(){
        register_vue =   new Vue({
            el: '#register_vue',
            created: function () {},
            compiled: function () {},
            data:
            {
                input: {
                    account: {text:"",hint:"请输入您的账号"},
                    password: {text:"",hint:"请输入您的密码"},
                    password2: {text:"",hint:"请重复您的密码"}
                }
            },
            computed: {
            },
            methods: {
                init:function(){},
                register: function(){
                    var account,password,password2;
                    account = this.input.account.text.trim();
                    password = this.input.password.text.trim();
                    password2 = this.input.password2.text.trim();

                    var res = Helper.checkTwoPassword(password,password2);
                    if(res !== true){
                        Message.toast(res,2);
                        return false;
                    }else{
                        var dataStr = '{' +
                                '"'+ACCOUNT+'":"'+account+'",' +
                                '"'+PASSWORD+'":"'+hex_md5(password)+'",' +
                                '"sessionId":"'+app.sessionId+'"' +
                                '}';
                        $.ajax({
                            type: 'post',
                            url: app.API_URL+'?r=main_soft/register',
                            data: Helper.getJsonObj(dataStr),
                            dataType: 'json',
                            success: function (data) {
                                if (data[CODE] != 0) {
                                    Message.toast(data[MESSAGE], 2);
                                    return false;
                                } else {
                                    Message.toast("注册成功",2);
                                    setTimeout(function(){
                                        history.go(-1);
                                    },1000);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {},
                            complete: function () {}
                        });
                    }
                }
            }
        });
    };
</script>